/* CSS */
body {
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    color: #fff;
    overflow-x: hidden;
}

section {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 10px;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.hidden {
    opacity: 0;
    transform: translateY(50px);
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

header {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo {
    position: absolute;
    top: -5px;
    left: 40px;
    width: 10%;
    max-width: 220px;
    height: auto;
}

.intro-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    gap: 30px;
    width: 100%;
}

.text-container {
    text-align: left;
    left:200px;
    margin-bottom:-100px;
    flex: 1;
}

header .profile-image {
    width: 50%;
    margin-left:-80px;
    max-width: 400px;
    margin-bottom:200px;
    height: auto;
    border-radius: 50%;
}

header h1 {
    font-size: 3em;
    margin-bottom: 40px;
}

header h2 {
    font-size: 1.5em;
    margin-bottom: 100px;
}

.white-box {
    display: inline-block;
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
}

header p {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: -18px;
}

.art-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.art-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    max-width: 1200px;
    margin: 20px;
}

.art-item {
    text-align: center;
}

.art-item img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 10px;
}

footer {
    background-color: #000;
    padding: 20px;
    margin-bottom:1000px;
    text-align: left;
    width: 100%;
}

footer h2 {
    font-size: 1.5em;
    margin-bottom: -200px;
}

footer .contact-details {
    font-size: 1em;
    margin-bottom: -200px;
}

footer a.contact-btn {
    display: inline-block;
    font-size: 1.2em;
    text-decoration: none;
    color: #fff;
    background: #333;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

footer a.contact-btn:hover {
    background: #555;
}

.social-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.social-links p {
    font-size: 1em;
    line-height: 1.5;
}

.social-logo {
    font-size: 1.2em;
    margin-left: 10px;
}

@media (max-width: 768px) {
    .intro-container {
        flex-wrap: nowrap;
    }

    .profile-image {
        width: 40%;
        max-width: 200px;
    }

    .logo {
        width: 50%;
        top:-90px;
    }

    .art-gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 768px) {
    .logo {
        width: 110%;
    }

    .art-gallery {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        max-width: 1200px;
    }
}
