/* CSS */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    color: #fff;
    overflow-x: hidden;
}

section {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 15px;
    transition: opacity 1s, transform 1s;
}

.hidden {
    opacity: 0;
    transform: translateY(50px);
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

header {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}

.intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

@media (min-width: 768px) {
    .intro-container {
        flex-direction: row;
        justify-content: space-between;
    }
    .text-container {
        text-align: left;
        flex: 1.2;
    }
}

.text-container {
    flex: 1;
    text-align: center;
}

header .profile-image {
    width: 250px;
    height: auto;
    border-radius: 50%;
}

header .logo {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

header h2 {
    font-size: 1.2em;
    margin-bottom: 15px;
}

.white-box {
    display: inline-block;
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    text-align: center;
}

header p {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 8px;
}

.art-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.art-gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 600px;
    margin: auto;
}

@media (min-width: 768px) {
    .art-gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

.art-item {
    text-align: center;
}

.art-item img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 10px;
}

footer {
    background-color: #000;
    padding: 20px;
    text-align: center;
    width: 100%;
}

footer h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

footer .contact-details {
    font-size: 1em;
    margin-bottom: 20px;
}

footer a.contact-btn {
    display: inline-block;
    font-size: 1.2em;
    text-decoration: none;
    color: #fff;
    background: #333;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

footer a.contact-btn:hover {
    background: #555;
}

.social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

@media (min-width: 768px) {
    .social-links {
        flex-direction: row;
        justify-content: center;
    }
}

.social-links p {
    font-size: 1em;
    line-height: 1.5;
}

.social-logo {
    font-size: 1.2em;
    margin-left: 10px;
}
